
.header {
    height: 70px;
    display: flex;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    gap: 50%;
}

.title {
    margin-left: 15%;
    width: 15%;
    display: flex;
    justify-content: center;
}

.login {

}
