.usersBlock {
    z-index: 1;
    background: white;
    width: 100%;
    display: flex;
}

.users {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
}

.avatar {
    height: 35px;
}

.selectedPage {
    font-weight: bold;
}

.pageNumber {
    cursor: pointer;
}